html,
body {
  overflow-x: hidden;
}
div#footer_languages {
  visibility: hidden;
}
ul#list {
  padding-left: 5px;
}
.text-center {
  text-align: center;
  margin-bottom: 40px;
}
.language {
  text-align: center;
  font-family: "Open Sans", sans-serif !important;
  color: #717273;
  margin-right: 5px;
  font-size: 18px;
  margin-left: 4px;
}
.language-image {
  height: 25px;
  padding-right: 2px;
  margin-top: -3px;
  margin-right: 2px;
}
.g-recaptcha {
  display: inline-block;
}
#language {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

#kontakt {
  margin: 5px 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#language-german {
  margin-right: 15px;
}
#language-english {
  margin: 0px 10px;
}
.navbar {
  min-height: 70px;
}
form {
  margin: 0 auto;
  width: 450px;
  border: solid;
  margin-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #707173;
  color: white;
  font-family: "Open Sans", sans-serif !important;
  margin-bottom: 30px;
}
#title {
  position: absolute;
  text-align: center;
  width: 95%;
  z-index: 30;
  color: #ec741b;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
  height: 100px;
  margin-top: 5%;
  font-size: 60px;
  margin-right: 30px;
  margin-left: 30px;
}
@media only screen and (max-width: 600px) {
  img#images {
    height: 400px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    object-fit: fill;
  }
}
@media only screen and (max-width: 600px) {
  #image {
    height: auto !important;
    width: 250px !important;
  }
}
@media only screen and (max-width: 600px) {
  #text {
    width: 100% !important;
    position: relative !important;
    margin-top: 400px !important;
    margin-left: 3% !important;
    text-align: center !important;
    font-size: 1vw !important;
    padding-bottom: 60px !important;
    padding-top: 10px !important;
  }
}
@media only screen and (max-width: 600px) {
  #home-title {
    font-size: 16px !important;
    text-align: center !important;
  }
  .language {
    text-align: center;
    font-family: "Open Sans", sans-serif !important;
    color: white;
    margin-right: 5px;
    font-size: 18px;
    margin-left: 4px;
    padding-right: 6px;
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #home-text {
    font-size: 16px !important;
    letter-spacing: 0px !important;
    margin-left: 0px !important;
    width: 95% !important;
  }
  #language {
    margin: 0 auto;
    justify-content: center;
    margin-top: 5px;
  }
  #language-english {
    margin: 10px -5px;
  }
}

@media only screen and (max-width: 600px) {
  #home-list {
    margin-left: 0px !important;
    font-size: 13px !important;
    text-align: center;
    list-style-position: inside;
  }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    margin-top: 10px !important;
    margin: 0 auto;
  }
}

ol,
ul {
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  #contact {
    font-size: 17px !important;
  }
  #language-german {
    margin-left: 0px;
    margin: 10px -1px;
  }
  #kontakt {
    margin: 5px 10px;
  }
  #german {
    margin: 0 auto;
    padding-right: 20px;
    padding-right: 30px;
    padding-left: 22px;
  }
  #english {
    margin: 0 auto;
  }
  #image {
    margin-top: 90px !important;
    height: auto;
    width: 320px;
  }
  ul.navbar-nav.ml-auto {
    margin-top: 10px;
  }
}

#phone_number {
  margin: 5px 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  #features {
    /* margin-left: 20px !important; */
    justify-content: center;
    margin-top: 40px !important;
  }
  #feature-text {
    margin-left: 12px !important;
  }
  p#home-paragraph {
    font-size: 14px !important;
    word-break: break-word;
    text-align: center;
  }
  #footer_languages {
    display: flex;
    margin-top: -18px;
    margin-right: -3px;
    visibility: visible !important;
  }
}

@media only screen and (max-width: 600px) {
  .slider img {
    height: 320px !important;
  }
  #slider-bg {
    height: 400px !important;
  }
  #house1 {
    width: 380px !important;
    word-spacing: normal !important;
    text-align: justify !important;
    font-size: 14px !important;
  }
  #house1 p {
    /* font-size: 19px; */
    font-size: 0.95rem !important;
    color: #717273;
    word-break: break-all;
  }
  #house2 {
    width: 380px !important;
    word-spacing: normal !important;
    text-align: justify !important;
  }
  #house2 p {
    font-size: 0.95rem !important;
    color: #717273;
    word-break: break-all;
  }
  form {
    width: 375px !important;
  }
  #message {
    width: 300px !important;
  }
  #form-private {
    width: 368px !important;
    margin-left: 10px !important;
    font-size: 12px !important;
  }
  .location {
    width: 300px !important;
    word-break: break-all;
    font-size: 0.95rem !important;
  }
  .footer {
    padding: 0px 6px !important;
  }
  span#contact-phone {
    font-size: 11px !important;
    padding-right: 2px !important;
    margin-left: 1px !important;
  }
  #send {
    font-size: 11px !important;
    margin-left: 4px !important;
  }
  img.d-inline-block.align-top {
    margin-right: 1px;
  }
  p.navbar-brand {
    margin: 0 -5px !important;
  }
  #location-text {
    width: 380px !important;
  }
  #location-image {
    width: 350px !important;
    margin-left: 13px !important;
  }
  #map {
    height: 330px !important;
  }
  #german-phone {
    display: none;
  }
  #form-private {
    text-align: center;
  }
}
#text {
  width: 41%;
  position: absolute;
  z-index: 90;
  color: white;
  top: 10%;
  margin: 0 auto;
  text-align: center;
  float: right;
  padding-bottom: 60px;
  font-size: 1.9vw;
  white-space: wrap;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.63);
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  letter-spacing: 3px;
  margin-left: 800px;
  padding-right: 20px;
  padding-left: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
#image {
  margin-top: 90px;
  height: auto;
  width: 320px;
}
#contact {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  transition: color 0.4s ease 0s;
  font-size: 17px;
  padding: 2 15px;
  opacity: 0.6;
  /* margin-right: 30px; */
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
#contact p {
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  color: #212529;
}
#contact p:hover {
  text-decoration: underline;
}
#cards {
  width: 100%;
  background-color: white;
  font-weight: 40px;
  font-family: "Open Sans", sans-serif;
}
#services {
  text-align: center;
  padding-top: 50px;
  font-weight: 400;
}
#information {
  height: 400px;
  width: 100%;
  display: flex;
}
#image1 {
  width: 100%;
  height: 400px;
}
#image2 {
  width: 100%;
  height: 400px;
}
#image-text {
  display: absolute;
  margin-top: 30px;
}
#card1 {
  filter: brightness(90%);
  background-image: url("space3.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}
#card2 {
  filter: brightness(90%);
  background-image: url("space1.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
}
#button1 {
  position: absolute;
  margin-top: 300px;
  z-index: 20;
  margin-left: 50px;
  background-color: white;
  height: 45px;
  width: 125px;
  font-family: "Open Sans", sans-serif;
}
#button1:hover {
  opacity: 0.6;
}
#button2 {
  position: absolute;
  margin-top: 300px;
  z-index: 20;
  margin-left: 50px;
  background-color: white;
  height: 45px;
  width: 125px;
  font-family: "Open Sans", sans-serif;
}
#button2:hover {
  opacity: 0.6;
}
#card-text {
  position: absolute;
  margin-top: 200px;
  margin-left: 50px;
  color: #ffffff;
  font-weight: bold;
}
#commited {
  margin-top: 20px;
  margin-left: -10px !important;
}
#commited1 {
  margin-top: 20px;
  margin-left: -10px !important;
}
#container {
  margin-top: 20px;
  /* text-align: center; */
}
#form {
  height: 400px;
}
#list {
  margin-top: 30px;
  text-align: center;
  color: black;
  list-style-position: inside;
}
#car-battery {
  z-index: 30;
  height: 100px;
  width: 100px;
  color: black;
}
#list {
  display: grid;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
#content {
  background-color: rgba(0, 0, 0, 0.5);
}
#button {
  background-color: #ec741b !important;
  border-color: #ec741b !important;
}
#get {
  margin-top: 20px !important;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ec741b;
  margin-bottom: 30px;
  padding: 10px 35px;
}
#address {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
#map {
  height: 430px;
  margin-top: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}
#list {
  margin-top: 80px;
}
.card-info {
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  color: #ec741b;
}
.card-text {
  color: #707173;
}
.slider img {
  height: 375px;
  width: 440px;
}
.slider {
  padding-top: 40px;
  margin-right: 32px;
  margin-left: 32px;
  background-image: cover;
  background-size: center;
  color: white;
}
#slider-bg {
  background-color: #74b4cc;
  height: 500px;
}
.slick-dots li.slick-active button:before {
  color: white !important;
}
a {
  color: #707173;
  text-decoration: none; /* no underline */
}
a:hover {
  color: #707173;
  text-decoration: none;
}
p#address {
  color: #717273 !important;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group.mapboxgl-ctrl-styles button {
  width: 50px;
}
#home-title {
  line-height: 35px;
  margin-bottom: 15px;
  color: #ec741b;
  font-size: 20px;
  text-align: left;
}
#home-text {
  font-size: 16px;
  width: 540px;
  text-align: left;
  line-height: 32px;
  font-weight: lighter;
  padding-left: 0px !important;
}
#home-paragraph {
  color: white !important;
  text-align: justify;
  text-justify: inter-word;
  word-break: break-word;
}
#home-list {
  font-weight: bold;
  margin-left: 40px;
  color: white;
}
* {
  -webkit-font-smoothing: antialiased;
}
#final-form {
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}
.location {
  font-family: "Open Sans", sans-serif;
  /* color: white; */
  width: 600px;
  margin: 0 auto;
  line-height: 25px;
  color: #717273;
  font-size: 16px;
  font-weight: 550;
  margin-top: 10px;
  word-spacing: -2px;
}
#location-container {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  padding-top: 40px;
}
#location-image {
  width: 730px;
  height: auto;
  margin-right: 30px;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 90px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
#location-div {
  margin-bottom: 40px;
  padding-top: 10px;
  margin-top: 20px;
  background-color: white;
}
#location-text {
  padding-top: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: justify;
  text-justify: inter-word;
  color: #333;
  width: 900px;
  margin: 40px auto;
  padding-bottom: 10px;
  /* background-color: rgba(0,0,0, 0.63); */
}
#location-list ul {
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
  list-style-type: none;
  margin-left: -2em;
}
#location-list li {
  word-spacing: -2px;
}
#phone-icon {
  width: 30px;
  height: auto;
  margin-left: 20px;
}
#contact-phone {
  padding-right: 10px;
  font-size: 15px;
  margin-left: 2px;
  color: #717273;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
#send {
  font-size: 15px;
  margin-left: 6px;
  text-decoration: none;
  color: #717273;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
#send:hover {
  color: #717273;
  text-decoration: none;
  cursor: pointer;
}
nav.navbar.navbar-light.bg-light {
  color: white !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.bg-light {
  color: white !important;
}
#features-button {
  background-color: white !important;
  border-color: #ec741b !important;
  color: #ec741b !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.3rem !important;
  opacity: 0.9;
}
#features-button:hover {
  opacity: 1;
}
.feature-check {
  width: 50px;
  height: auto;
}
img.feature-check {
  margin: 0 auto;
  padding-bottom: 10px;
}
#features {
  display: flex;
  justify-content: center;
  color: #717273;
}
#feature-text {
  margin-left: 300px;
}
.card.card-body {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
#house1 {
  width: 700px;
  margin-bottom: 30px;
  margin-top: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 40px 40px 40px 40px;
  color: #717273;
  margin: 50px auto;
  text-align: justify;
  text-justify: inter-word;
}
#house2 {
  margin-top: 50px;
  width: 700px;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 40px 40px 40px 40px;
  color: #717273;
  margin: 50px auto;
  text-align: justify;
  text-justify: inter-word;
}
#house1 h3 {
  margin-top: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ec741b;
  margin-bottom: 30px;
}
#house2 h3 {
  margin-top: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ec741b;
  margin-bottom: 30px;
}
#house-color {
  background-color: #ec741b;
  height: 10px;
  width: 50%;
  margin: 0 auto;
}
hr {
  width: 200px;
  margin: 0 auto;
}
#location-box {
  width: 900px;
  margin: 0 auto;
}
.footer {
  background-color: #ec741b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0px 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links p {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
  font-family: "Open Sans", sans-serif;
}
.footer-links a {
  text-decoration-line: none;
}
.footer-links:hover {
  text-decoration-line: none;
}
#form-private {
  width: 550px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #717273;
  margin-bottom: 30px;
}
#message {
  width: 362px;
}
#private-link {
  color: #ec741b;
}
#gender-selector {
  width: 80px !important;
  margin-bottom: 10px;
}
select.form-control {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #717273 !important;
}
select.placeholder {
  opacity: 0.8;
}
.mapboxgl-canary {
  visibility: visible;
}
